.a {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    line-height: 24px;
    margin-bottom: 5px;
  }
  .b {
    font-size: 14px;
    color: gray;
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .c {
    font-size: 15px;
    color: gray;
    font-family: Arial;
  }
  .e {
    margin-bottom: 40px;
    background-color: red;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
    font-size: medium;
  }
  P {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
  }
  .f:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .x:hover {
    text-decoration: underline;
  }
  .y {
    margin-left: 50px;
  }